<ion-view view-title="SMS sender">
    <ion-content>
        <div class="list" ng-show="readyToCheck">
            <label class="item item-input item-stacked-label">
                <span class="input-label"><strong>Numéros</strong></span>
                <input id="numberTxt" type="text" ng-model="form.numbers" ng-change="verifyNumbers()">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label"><strong>Noms des personnes</strong></span>
                <input id="nameTxt" type="text" ng-model="form.names" ng-change="verifyNames()">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label"><strong>Heures de navette</strong></span>
                <input id="timeTxt" type="text" ng-model="form.times" ng-change="verifyTimes()">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label"><strong>Corps du message</strong></span>
                <input id="messageTxt" type="text" ng-model="form.message" ng-change="verifyMessage()">
            </label>
        </div>
        <div class="card" id="treatmentDone" ng-show="readyToGo">
            <div class="card-body text-center">
                Le traitement terminé pour les {{numberofpeopple}} données
            </div>
        </div>
        <div class="text-center" id="buttons">
            <button class="button button-assertive" ng-click="dataTreat()" ng-show="readyToCheck">Traiter les données&#160;&#160;<ion-icon class="ion-gear-a"/></button>
            <button class="button button-balanced" ng-click="sendSMS()" ng-show="readyToGo">Envoyer les SMS&#160;&#160;<ion-icon class="ion-paper-airplane"/></button>
        </div>
        <div id="floatingCirclesG" ng-show="proceeding">
            <div class="f_circleG" id="frotateG_01"></div>
            <div class="f_circleG" id="frotateG_02"></div>
            <div class="f_circleG" id="frotateG_03"></div>
            <div class="f_circleG" id="frotateG_04"></div>
            <div class="f_circleG" id="frotateG_05"></div>
            <div class="f_circleG" id="frotateG_06"></div>
            <div class="f_circleG" id="frotateG_07"></div>
            <div class="f_circleG" id="frotateG_08"></div>
        </div>
        <div class="card whatWasSend" ng-repeat="sent in sentSMS">
            <div class="card-body">
                <h5 class="card-title text-center"><strong style="color:white">Envoi {{sent.times}}/{{numberofpeopple}}</strong></h5>
                <div class="card-text">
                    <table class="text-center">
                        <tr class="row">
                            <td class="col">{{sent.name}}</td>
                            <td class="col">{{sent.time}}</td>
                            <td class="col">{{sent.number}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="card" ng-show="done">
            <div class="item item-text-wrap text-center">
                Here we go!&#160;&#160;<ion-icon class="ion-thumbsup"/>
            </div>
        </div>
    </ion-content>
</ion-view>
