<ion-view view-title="Page d'accueil">
    <ion-content class="padding">
        <h2 class="text-center">Bienvenue sur l'application PnP !</h2>
        <p>
            Il a ici été questionde rassembler deux fonctions souvent demandée à l'association :
            <ul>
                <li>- Réliser des votes par SMS</li>
                <li>- Evoyer des SMS personnalisés</li>
            </ul>
            Allez, laissons-nous rêver et espérons qu'on jour il existera une application officielle PnP ?
        </p>
    </ion-content>
</ion-view>
