<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Accueil" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/homePage">
    <ion-nav-view name="tab-homePage"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="SMS vote" icon-off="ion-ios-download-outline" icon-on="ion-ios-download" href="#/tab/SMSvote">
    <ion-nav-view name="tab-SMSvote"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="SMS Sender" icon-off="ion-ios-paperplane-outline" icon-on="ion-ios-paperplane" href="#/tab/SMSsender">
    <ion-nav-view name="tab-SMSsender"></ion-nav-v
  </ion-tab>


</ion-tabs>
